[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
setuptools = "*"
django-polls = {editable = true,path = "./django-polls"}

[requires]
python_version = "3.7"
